<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.expense"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <provider
            android:name="com.zacwhy.expense.content.AccountProvider"
            android:authorities="com.zacwhy.expense.provider"
            android:exported="false"
            android:multiprocess="true" >
        </provider>
        <provider
            android:name="com.zacwhy.expense.content.SummaryProvider"
            android:authorities="com.zacwhy.expense.provider.summaries"
            android:exported="false"
            android:multiprocess="true" >
        </provider>

        <activity
            android:name="com.example.expense.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.expense.TransactionGroupsActivity"
            android:label="@string/title_activity_summary" >
        </activity>
        <activity
            android:name="com.example.expense.TransactionGroupActivity"
            android:label="@string/title_activity_entry" >

            <!-- android:theme="@android:style/Theme.Dialog" > -->
        </activity>
        <activity
            android:name="com.example.expense.TransactionsActivity"
            android:label="@string/title_activity_transactions" >
        </activity>
        <activity
            android:name="com.example.expense.TransactionActivity"
            android:label="@string/title_activity_transaction" >
        </activity>
        <activity
            android:name="com.example.expense.AccountsActivity"
            android:label="@string/title_activity_accounts" >
        </activity>
        <activity
            android:name="com.example.expense.SummariesActivity"
            android:label="Summary" >
        </activity>
    </application>

</manifest>